/*設定的座標位置是 left:50%; 和 top:50%
position:absolute; 是以 div 的左上角當作座標的計算點
因此需加上margin修正*/
/* xl - Extra large devices (large desktops, 1200px and up) */

/*4-1*/
body{
  background-color: black;
}

/*切換下一頁*/
/*.changepage img{
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  width: 119px;
  height: 115px;
  z-index: 3;
  margin-right: 420px;
  margin-bottom: 15px;
}
*/

/* 4-1 */
.mainpage{
  display: none;
}

/*4-2*/
.secondpage{
  display: none;
}

/*4-3*/
.thirdpage{
  display: none;
}

/*4-4*/
.fourthpage{
  display: none;
}

/*4-5*/
.fifthpage{
  display: none;
}

/*4-6*/
.sixthpage{
  display: none;
}

/*4-7*/
.seventhpage{
  display: none;
}

/* 4-8 */
.eighthpage{
  display: none;
}

/* 4-9 */
.ninthpage{
  display: none;
}

/* 4-10 */
.tenthpage{
  display: none;
}

/* 4-11 */
.eleventhpage{
  display: none;
}


/*loading new*/
.ani_peanut{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  width: 375px;
  height: 375px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bigpeanut{
  width: 91px;
  height: 88px;
  /* position: absolute; */
  margin: auto;
  animation-name: smallnut;
  animation-duration:1.25s; /*完成動畫所花費的時間*/
  animation-timing-function: ease-in;
  animation-iteration-count:infinite; /*動畫應該播放的次數 infinite是無限循環*/
}
@-webkit-keyframes smallnut {
  0%{-webkit-transform:translateY(-100px) scale(0.5);}
  100%{-webkit-transform:translateY(375px) scale(0.5);}
}


/* 4-1 */
  .mainpage{
    width: 375px;
    height: auto;
  }

  .background{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }

  .background img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 375px;
    height: 375px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }

  
  .buttonnextfix{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 375px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
  }
  .changepage img{
    position: absolute;
    margin-top: 138px;
    margin-right: 35px;
    width: 40px;
    height: 38px;
    z-index: 3;
  }
  .buttonpreviousfix{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 375px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
  }
  .changepageback img{
    position: absolute;
    margin-top: -140px;
    margin-left: 26px;
    width: 40px;
    height: 38px;
    z-index: 3;
  }

  /* 4-2.css */


  /*4-3*/
  
  /*4-4*/
  
  /*4-5 new*/
  .capsule{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    width: 375px;
    height: 375px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  #canvas{
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      margin: auto;
      width: 325px;
      height: 325px;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }

  /*4-6*/

  /*4-7*/
  
  /*4-8*/
  
  /* 4-9 */

  /* 4-10 */

  /* 4-11 */