/*設定的座標位置是 left:50%; 和 top:50%
position:absolute; 是以 div 的左上角當作座標的計算點
因此需加上margin修正*/
/* xl - Extra large devices (large desktops, 1200px and up) */

/*1-2*/
body{
  background-color: black;
}

/*切換下一頁*/
/*.changepage img{
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  width: 119px;
  height: 115px;
  z-index: 3;
  margin-right: 420px;
  margin-bottom: 15px;
}
*/

/*2-2*/
.secondpage{
  display: none;
}

/*2-3*/
.thirdpage{
  display: none;
}

/*2-4*/
.fourthpage{
  display: none;
}

/*2-4-1*/
.fourthtwopage{
  display: none;

}

/*2-5*/
.fifthpage{
  display: none;
}

/*2-6*/
.sixthpage{
  display: none;
}






/*2-1*/
  .mainpage{
    width: 375px;
    height: auto;
  }

  .view{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    height: 335px;
    width: 335px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    overflow-y: hidden;
    overflow-x: hidden; 
  }

  .view img{
    position: absolute;
    height: 670px;
    width: auto;
    top: 335px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }

  .nextpage1 img{
    position: absolute;
    margin-bottom: 2.1%;
    margin-right: 2%;
    width: 40px;
    height: 38px;
    z-index: 3;
  }
  /* frame */
  .top1 img{
      position: absolute;
      width: 350px;
      height: auto;
      z-index: 2;
      margin-top: -101.5%;
      margin-left: -2.5%;
  }
  .bottom1 img{
      position: absolute;
      width: 350px;
      height: auto;
      z-index: 2;
      margin-bottom: -2%;
      margin-left: -2.5%;
  }
  .left1 img{
      position: absolute;
      width: auto;
      height: 350px;
      z-index: 2;
      margin-top: -101.5%;
      margin-left: -0.76%;
  }
  .right1 img{
      position: absolute;
      width: auto;
      height: 350px;
      z-index: 2;
      margin-bottom: -2%;
      margin-right: -1.25%;
  }


  /*2-2*/
  .outside{
    z-index: 1;
  }

  .background{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }

  .background img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 375px;
    height: 375px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }

  #light{
      z-index: 1;
      background-color: rgba(0, 0, 0, 0);
      max-height: 100%;
      max-width: 100%;
      position: absolute;
      width: 100%;
      height: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 1;
      z-index: 2;
      width: 375px;
      height: 375px;
      background-size: cover;
  }
  #outside{
    z-index: 0;
    background-color: rgba(0, 0, 0, 0);
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    z-index: 2;
    width: 375px;
    height: 375px;
    background-size: cover;
  }
 

  .flowers{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    width: 375px;
    height: 780px;
  }

  .flowerone{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 29px;
    height: 42px;
    z-index: 1;
    margin-left: 110px;
    margin-top: 607px;
    display: none;
  }
  .flowertwo{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 29px;
    height: 42px;
    z-index: 1;
    margin-left: 143px;
    margin-top: 607px;
    display: none;
  }
  .flowerthree{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 29px;
    height: 42px;
    z-index: 1;
    margin-left: 176px;
    margin-top: 607px;
    display: none;
  }
  .flowerfour{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 29px;
    height: 42px;
    z-index: 1;
    margin-left: 209px;
    margin-top: 607px;
    display: none;
  }
  .flowerfive{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 29px;
    height: 42px;
    z-index: 1;
    margin-left: 242px;
    margin-top: 607px;
    display: none;
  }

  .buttonnextfix{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 375px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
  }
  .changepage img{
    position: absolute;
    margin-top: 140px;
    margin-right: 25px;
    width: 40px;
    height: 38px;
    z-index: 3;
  }
  .buttonpreviousfix{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 375px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
  }
  .changepageback img{
    position: absolute;
    margin-top: -140px;
    margin-left: 26px;
    width: 40px;
    height: 38px;
    z-index: 3;
  }


  /*2-3*/
  .maincorner{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 375px;
    height: 375px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }
  .movinghand{
    width: 36px;
    height: 58px;
    position: absolute;
    margin-top: 8px;
    margin-left: 36px;
  }

  .range{
    display: block;
    width: 70px;
    height: 65px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-top: 190px;
    margin-left: 140px;
  }

  .hand_prepage{
    position: absolute;
    width: 40px;
    height: 38px;
    top: 27.5px;
    left: 26.3px;
    margin: auto;
    z-index: 5;
  }

  .hand_nextpage{
    position: absolute;
    width: 40px;
    height: 38px;
    bottom: 28.5px;
    right: 25px;
    margin: auto;
    z-index: 5;
  }


  /*2-4*/
  

 



  /*2-4-1*/
  .kidsit{
    width: 375px;
    height: 375px;
  }

  .kidturn{
    display: none;
    width: 375px;
    height: 375px;
  }

  .mobile img{
    width: 28px;
    height: 19px;
    margin-left: 119px;
    margin-top: 463px;
  }


  /*2-5*/

  .roomanimation img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 375px;
    height: 375px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }

  .jellyfish img{
    width: 375px;
    height: 83.33px;
    margin-top: 605px;
  }

  
  /*2-6*/

  .buttoncapsulespeakone{
    display: none;
  }
  .buttoncapsulespeaktwo{
    display: none;
  }
  .buttoncapsulespeakthree{
    display: none;
  }
  .buttoncapsulespeakfour{
    display: none;
  }
  .buttoncapsulespeakfive{
    display: none;
  }
  














  /*1-12*/
  .comettohome img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 375px;
    height: 375px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }


  /*1-13*/
  .flickerball img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    width: 375px;
    height: 375px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
  }







